/* .border {
    border: 1px solid #f00;
} */

body { overflow-x : hidden; }

.wrap {
    max-width: 1920px; 
    min-width: 1200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section:not(.for, .num) {
    margin-bottom: 500px;
}
.for {
    margin-bottom: 250px;
}
.num {
    margin-bottom: 550px;
}

.text-group2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-group2 .en {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
}
.text-group2 h3 {
    width: 100%;
    font-family: 'Pretendard', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: var(--black);
}
.text-group2 .kr {
    font-size: 20px;
    font-weight: 500;
}

.point {
    color: var(--pink);
    font-size: 300px;
    font-weight: 400;
    height: 400px;
}



/*  ---------- overview ---------- */
.overview {
    position: relative;
    width: 100%;
    height: 1300px;
    margin-top: 110px;
    /* margin-bottom: 500px; */
    padding: 0 130px;
    /* overflow: hidden; */
}

.intro {
    margin-top: 50px;
    padding-top: 140px;
    font-family: Pretendard;
    font-size: 100px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 110px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 2;
    mix-blend-mode: luminosity;

  animation: intro-out 4s ease-out 0.5s forwards;
}
.intro span {
    color: var(--pink);
    font-size: 100px;
    font-style: italic;
}

@keyframes intro-out {
    from { opacity: 0; }
    50% { opacity: 1;}
    to { opacity: 0; }
}

.overview .text-group2 {
    margin-top: 90px;
    padding-top: 80px;
    gap: 60px;
    opacity: 0;
    
    animation: fade-in 1.2s ease-out 4.6s forwards;
}

.overview .text-group2 h3 {
    font-size: 52px;
}
.overview .text-group2 .en {
    font-size: 30px;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.overview .img-box {
    position: absolute;
    right: 130px;
    width: 1100px;
    opacity: 0;
    transform: scaleY(0.95);
    top: -200%;

  /* 두 애니메이션 모두 4.6s에 동시에 시작 */
  animation:
    fade-in 1.2s ease-out 4.6s forwards,
    floatY 3s ease-in-out 4s infinite alternate;
  will-change: transform, opacity;
}
@keyframes floatY {
    from { top: 80px; }
    50% { top: -10px; } 
    to { top: 80px; }
}



/*  ---------- for ---------- */
.for {
    position: relative;
    width: 100%;
    height: 1330px;
    padding: 0 250px;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 324px; */
}

.for .text-group2 {
    gap: 40px;
}
.for .point {
    transform: translateX(-250px);
}

.user-type {
    display: flex;
    gap: 20px;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 460px;
}
.user .en {
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}
.user-video {
    width: 460px;
    /* height: 690px; */
    position: relative;
    overflow: hidden;
}
.user-video video {
    width: 100%;
}
.user-video svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #FFF;
    opacity: 0.85;
}



/*  ---------- num ---------- */
.num {
    position: relative;
    width: 100%;
    padding: 0 250px 0 0;
    height: 1090px;
}
#num {
    text-align: right;
}

.num .text-img {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.num .img {
    width: 940px;
    height: 690px;
}

.num .text-group2 {
    gap: 60px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.num h3 {
    font-size: 38px;
}
.num .text-group2 .en {
    width: 510px;
    display: inline-block;
    color: var(--pink);
    text-align: center;
    font-size: 94px;
    font-weight: 700;
    background: #000;
    padding: 0px 10px;
}
.num .text-group2 .kr {
    margin-top: 50px;
}

p.counter {
    display: inline-block;
    width: 11ch;
    text-align: center;
    font-variant-numeric: tabular-nums;
    font-feature-settings: 'tnum' 1;
    
    transform-origin: 100% 50%;
    will-change: transform;
}



/*  ---------- preview ---------- */
#preview {
    color: var(--white);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 810px;
    line-height: 740px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #f0f 50%, rgba(255, 255, 255, 0.00) 100%);
}

.preview-text {
    margin-top: calc(810px + 500px);
    display: flex;
    flex-direction: column;
    gap: 500px;
    margin-left: 200px;
    margin-bottom: 500px;
}
.preview-text .text-group2 {
    height: 960px;
    padding-top: 100px;
    gap: 35px;
    justify-content: start;
}
.preview-text h3 {
    font-size: 46px;
}
.preview-text .text-group2 .kr {
    margin-top: 36px;
}

.preview-img {
    position: sticky;
    top: 100px;
    margin-top: calc(810px + 500px);
    margin-left: 1090px;
    z-index: 5;
}
.preview-img .img-box {
    width: 460px;
    height: 960px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}
.preview-img .img-box img {
    width: 460px;
    height: 960px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(20px 30px 40px rgba(0, 0, 0, 0.2));
}

.preview-img .img-box:nth-child(1) svg {
    width: 552.007px;
    height: 550px;
    position: absolute;
    bottom: 114px;
    right: 47px;
}
.preview-img .img-box:nth-child(2) svg,
.preview-img .img-box:nth-child(3) svg {
    position: absolute;
    bottom: 510px;
    right: 310px;
}

.preview-img .img-box {
    opacity: 0;
    transition: opacity 0.5s;
}
.img-box.show {
  opacity: 1;
}



/*  ---------- app-video ---------- */
.text-loop-group {
    width: 1920px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.text-loop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 15px;
    column-gap: 20px;
}

.loop1 {
    animation: loop1 20s infinite linear;
}

@keyframes loop1 {
    100% {
      transform: translateX(-100%);
    }
}

.loop2 {
    animation: loop2 20s infinite linear;
    transform: translate(-100%);
}

@keyframes loop2 {
    100% {
      transform: translateX(0%);
    }
}

.text-loop .item {
    display: flex;
    min-width: 150px;
}
.text-loop  .star {
    min-width: 54px;
}
.text-loop p {
    font-size: 28px;
    font-weight: 400;
}

.text-loop .po {
    font-style: italic;
}

.text-loop span {

    margin-left: 21px;
}


.index {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.index .kr {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 18px;
    background: #000;
}



/*  ---------- event ---------- */
.point {
    display: grid;
    white-space: nowrap;
    line-height: 1;
}

.point .font-a,
.point .font-b {
    grid-area: 1 / 1;
    transition: none !important;
    opacity: 0;
    pointer-events: none;
}

.point .font-a {
    opacity: 1;
    font-family: "Pretendard", sans-serif;
}

.point .font-b {
    font-family: "Playfair Display", serif;
    font-style: italic;
}
#for {
    padding-top: 34px;
}
#for .font-b {
    transform: translate(10px, -20px);
}
#num {
    transform: translateY(70px);
}
#num .font-b {
    transform: translateY(-20px);
}
#preview .font-b {
    transform: translate(-5px, -20px);
}

.point.active .font-a { opacity: 0; }
.point.active .font-b { opacity: 1; }

.index svg:hover path {
    fill: var(--pink);
    transition: all 0.3s;
}
.index svg path {
    fill: black;
    transition: fill 0.3s;
}

#home svg:hover path {
    fill: var(--pink);
    transition: all 0.3s;
}
#home  svg path {
    fill: black;
    transition: fill 0.3s;
}

header .menu a {
    background-color: transparent;
    color: var(--black);
    transition: all 0.3s
}
header .menu a:hover {
    background-color: var(--pink);
    color: var(--black);
    transition: all 0.3s
}