/* .border {
    border: 1px solid #f00;
} */



/* .wrap {
    max-width: 1920px; 
    min-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
} */
footer {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding-bottom: 130px;
}
footer {
    opacity: 0.15;
}

footer .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.logo {
    margin-left: 130px;
    opacity: 0.5;
}

/* ---------- text-group ---------- */
.text-group {
    min-width: 940px;
    height: 212px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-right: 100px;
}



/* ---------- cs ---------- */
.cs {
    width: 334px;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.cs > .en {
    width: 98px;
    font-size: 18px;
    font-weight: 600;
}

.cs > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.cs > div div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}
.cs > div div:nth-child(1) > a {
    display: flex;
    align-items: center;
    gap: 14px;
}
.cs > div div:nth-child(1) > a i:nth-child(1) {
    font-size: 18px;
}
.cs > div div:nth-child(1) > a i:nth-child(2) {
    font-size: 14px;
}
.cs > div div:nth-child(1) > a p {
    font-size: 18px;
    font-weight: 600;
}
.cs > div div:nth-child(1) > p {
    padding-top: 4px;
    font-size: 14px;
    font-weight: 500;
}

.cs > div div:nth-child(2) {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 34px;
}
.cs > div div:nth-child(2) i {
    font-size: 33px;
}
.cs > div div:nth-child(2) .img-box {
    width: 26px;
}



/* ---------- info ---------- */
.info {
    display: flex;
    width: 500px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    font-size: 12px;
}

.info div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
}

.info div:nth-child(2) {
    display: flex;
    align-items: start;
    align-content: start;
    gap: 4px 20px;
    align-self: stretch;
    flex-wrap: wrap;

    font-weight: 400;
}
.info div:nth-child(2) a {
    font-weight: 700;
    text-decoration-line: underline;
}

.info > p span {
    font-weight: 700;
}
.info > p {
    font-weight: 400;
}