/* .border {
    border: 1px solid #f00;
} */


/* .wrap {
    max-width: 1920px; 
    min-width: 1200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);    
    background-color: var(--white);
} */
header {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    overflow: visible;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, white 30%, rgba(255, 255, 255, 0) 100%);
    z-index: 10;
}

header .inner {
    width: 1920px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/*  ---------- home ---------- */
#home {
    width: 257.697px;
    height: 28px;
    display: flex;
    margin-left: 130px
}



/*  ---------- menu ---------- */
header .menu {
    display: flex;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu a {
    display: flex;
    padding: 6px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    

    text-align: center;
    font-size: 20px;
    font-weight: 500;
}



/*  ---------- hover 효과 ---------- */
header .menu a:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.5s
}